{% extends 'base.html.twig' %}

{% block title %}Médiathèque{% endblock %}

{% block body %}

<div style="font-family: sans-serif; max-width: 800px; margin: 2em auto;">

    <h1>Médiathèque</h1>
    <hr>
    <h2>Livres</h2>
    <p>Liste des livres :</p>
    <h2>Abonnés</h2>
    <p>Liste des abonnés :</p>
    <h2>Emprunts</h2>
    <p>Liste des emprunts :</p>
</div>


{% endblock %}
